{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
            {% for post in post_list %}
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                        <p class="card-text">{{post.content|slice:":200" | safe }}</p>
                        <a href="{% url 'post_detail' post.pk  %}" class="btn btn-primary">Read More &rarr;</a>
                        <a href="{% url 'post_detail' pk=post.pk %}" class="comm">Comments: {{ post.approved_comments.count }}</a>
                    </div>
                </div>
            {% endfor %}
    </div>
</div>
{% endblock %}